<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <RegexFilter regex=".*(Encountered global rate limit).*" onMatch="DENY" onMismatch="ACCEPT"/>
            <PatternLayout pattern="[%t] %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
